<% if (existing_card) { %>
  <h1>Use saved card</h1>
  <div class="action-container js-use-existing-card">
    <div class="action-container-button confirm"></div>
    **** **** **** <%= existing_card.last_four %> <br />
    Expires: <%= existing_card.exp_month %> / <%= existing_card.exp_year %>
  </div>
  <hr />
<% } %>

<h1>Add your card</h1>

<% if(error) { %>
  <div class="error">
    <%= error %>
  </div>
<% } %>


<div class="js-new-credit-card new-credit-card">
  <input type="tel" name="new_credit_card[number]" placeholder="Card Number" />
  <input type="text" name="new_credit_card[exp_month]" placeholder="Month (MM)" /> 
  <input type="text" name="new_credit_card[exp_year]" placeholder="Year (YY)" />
  <input type="text" name="new_credit_card[cvc]" placeholder="Security / CVC Code" />
  <button class="action js-save-card">Use New Credit Card</button>
</div>

