
<div class="restaurants-list">
  <% for(var i=0; i<restaurants.length; i++) { %>
    <div class="restaurant action-container" data-restaurant-id="<%= restaurants[i].objectId %>">
      <div class="action-container-button confirm">
        <div class="new-total"><%= money(restaurants[i].new_total) %></div>
      </div>
      <div class="name"><%= restaurants[i].name %></div>
      <div class="street"><%= restaurants[i].address.street %></div>
    </div>
  <% } %>
</div>
