
<ul class="restaurants-list">
  <% for(var i=0; i<restaurants.length; i++) { %>
    <li class="restaurant">
      <input type="radio" name="restaurant" value="<%= restaurants[i].objectId %>" <% if(restaurants[i].objectId==current_id) { %> CHECKED="CHECKED" <% } %>> 
      <div class="name"><%= restaurants[i].name %></div>
      <div class="street">on <%= restaurants[i].address.street %></div>
      <div class="new-total"><%= money(restaurants[i].new_total) %></div>
    </li>
  <% } %>
</ul>

<button type="button" class="js-cancel">Cancel</button>