<h1>Due to High Demand...</h1>

<p>
  We are temporarily unable to deliver pizzas to your address at this time. 
</p>

<p>
  Please accept our sincerest apologies, and this button that will dial a nearby pizza parlour so you can order the old fashioned way. 
</p>

<a class="btn btn-success" href="tel:<%= phone_to_dial %>">Call <%= restaurant_name %></a>

