<h1>Due to High Demand...</h1>

<p>
  We are temporarily unable to deliver pizzas to your address. 
</p>


<% if(phone_to_dial) { %>
  <p>
    In the mean time, please accept our sincerest apologies, and this button that will dial a nearby pizza parlour so you can order the old fashioned way. 
  </p>

  <div class="allow-a-button-to-truncate">
  <a class="button action confirm" href="tel:<%= phone_to_dial %>">Call <%= restaurant_name %></a>
  </div>
<% } %>
