<h1>Your Card Was Declined!</h1>

<button class="js-rerun-order">Swipe It Again!</button>

<button class="js-add-new-card">Use A Different Card</button>

<a href="tel:<%= restaurant.phone %>">Call the Restaurant Yourself</a>