<h1>This Is Embarassing...</h1>

<p>
  Something unexpected happened, and your order didn't go through.
</p>

<p>
  What would you like to do? 
</p>

<button class="js-rerun-order">Try Again</button>

<a href="tel:<%= restaurant.phone %>">Call the Restaurant Yourself</a>