<h1 class="js-header">This Is Embarassing...</h1>

<p>
  Something unexpected happened, and your order didn't go through.
</p>

<p>
  What would you like to do? 
</p>

<button class="action confirm js-resubmit">Try Again</button>

<a class="button action" href="tel:<%= clean_phone(restaurant.phone) %>">Call The Restaurant</a>