<h1>It's on the way!</h1>

<p>Please allow 30-45 minutes for delivery</p>

<p>If you need to contact the restaurant, dial:</p>

<blockquote>
  <%= restaurant.name %> <br />
  <%= restaurant.phone %> 
</blockquote>

<button type="button" class="action js-new-order">Order Again</button>