<div class="js-new-address new-address">
  <input name="new_address[street]" placeholder="Street address..." /> <br />
  <small><%= new_address.city %>, <%= new_address.state %> <%= new_address.zip %></small> <br />
  <button class="js-use-new-address">Use New Address</button>
</div>

