<% if(in_progress_order != null) { %>
  <button type="button" class="action js-show-previous">View Recent Order</button>
<% } %>

<% if(previous_order != null) { %>
  <button type="button" class="action confirm js-confirm-same">Get Same As Last Time</button>
<% } %>

<h1>Pick Your Pizzas!</h1>

<% for(var i=0; i<pizzas.length; i++) { %>
  <div data-pizza-type-id="<%= pizzas[i].id %>" class="pizza-choice <%= (pizzas[i].quantity >0) ? 'already-in-order' : '' %>">
    <button class="js-add-pizza action"><%= pizzas[i].friendly_name %></button>
  </div>
<% } %>
