<% if(in_progress_order != null) { %>
  .return-to-order.js-return-to-order
    .heading Looking for your last order?
    %button.btn.btn-block.btn-default.js-show-last-order{ type: "button"} Show Previous Order
<% } %>

%h1 Pick Your Pizzas
%ul
  <% for(var i=0; i<pizzas.length; i++) { %>
    %li{"data-pizza-type-id": "<%= pizzas[i].id %>"}
      %ul
        %li
          <%= pizzas[i].friendly_name %>
        %li
          Quantity: 
          %span.js-quantity <%=pizzas[i].quantity %>
          %br
          %button.js-add-pizza +
          %button.js-remove-pizza -
        %li
          Size: 
          %select.js-size-id
            <% for(var j=0; j<pizza_sizes.length; j++) { %>
              %option{ value: "<%= pizza_sizes[j].id %>"}
              / <option value="" <%= (pizzas[i].size_id==pizza_sizes[j].id) ? 'SELECTED' : '' %>><%= pizza_sizes[j].friendly_name %></option>
            <% } %>
  <% } %>

<button type="button" class="btn btn-primary btn-block btn-large js-continue" <%= (!has_selected_pizza) ? 'DISABLED="DISABLED"' : '' %> >Next</button>