<% if(in_progress_order != null) { %>
  <div class="return-to-order js-return-to-order">
    <div class="heading">Looking for your last order?</div>
    <button type="button" class="btn btn-block btn-default js-show-last-order">Show Previous Order</button>
  </div>
<% } %>

<h1>Pick Your Pizzas!</h1>

<ul>
  <% for(var i=0; i<pizzas.length; i++) { %>
    <li data-pizza-type-id="<%= pizzas[i].id %>" class="<%= (pizzas[i].quantity >0) ? 'already-in-order' : '' %>">
      <ul>
        <li><%= pizzas[i].friendly_name %></li>
        <li><button class="js-add-pizza">+</button></li>
      </ul>
    </li>
  <% } %>

</ul>