$color_red            : #d94d48;
$color_red_shadow     : #9c2520;

$color_green          : #59b359;
$color_green_shadow   : #264c26;

$color_gray: #d8d8d8;
$color_gray_shadow: #afafaf;


$receipt_background   : #FFFFFF;