.payment-info {
  & > div {
    display: inline;
  }
}

.pizza {
  .action-container-button {
    background-image: initial;
    text-align: center;
    color: white;
    font-size: 20px;
    height: 37px;
    padding: 12px 0;
    line-height: 38px;
  }
}
