@import "_colors";
@import "_buttons";
@import "_metrics";
@import "confirm_order.scss";

html, body {
  margin: 0;
  padding: 0;
  font-family: "Droid Sans";
}

body {
  background-image: url("../images/pattern-bg.png");
}

#container {
  width: 80%;
  margin: auto
}

#header {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 100px;
  .header-icon {
    -webkit-box-flex: 1;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    opacity: 0.1;
    &.active {
      opacity: 1.0;
    }
    &.order {
      background-image: url("../images/header-icons/order.png");
    }
    &.address {
      background-image: url("../images/header-icons/address.png");
    }
    &.payment {
      background-image: url("../images/header-icons/payment.png");
    }
  }
}

h1, h2 {
  text-align: center;
}

hr {
  margin: 40px;
}

.field {
  margin-bottom: 20px;
}

.address-row {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;

  .address-field {
    -webkit-box-flex: 1;
    margin-right: 20px;
  }

  .zip-code-field {
    -webkit-box-flex: 0;
    width: 100px;
  }
}

.action-container {
  box-sizing: border-box;
  width: 100%;
  padding-left: 10px;
  outline: transparent;
  border-radius: $input_border_radius;
  border: 0px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 0px #919191;
  height: 60px;
  font-size: 16px;
  padding-top: 10px;
  position: relative;

  &+.action-container {
    margin-top: 10px;
  }
}

.action-container-button {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: $input_border_radius;
  width: 60px;
  height: 60px;
  background: $color_red url(../images/next-arrow.png) center center no-repeat;
  background-size: 100% 100%;

  &.confirm {
    background-color: $color_green;
  }
}

.new-credit-card {
  input {
    margin-bottom: 20px;
  }
}

.restaurants-list {
  .restaurant {
    .action-container-button {
      background-image: initial;
      text-align: center;
      color: white;
      font-size: 20px;
      height: 37px;
      padding: 12px 0;
      line-height: 38px;
    }
  }
}

.waiting-content {
  text-align: center;
}

.pizza-choice {
  &.already-in-order {
    button {
      background-color: $color_green;
      box-shadow: 0px 2px 0px $color_green_shadow;    
    }
  }

  &+.pizza-choice {
    margin-top: 10px;
  }
}

.receipt {
  font-family: Monaco;
  background: #f3f3f3;
  box-sizing: border-box;
  padding: 40px;

  .date-time {
    margin-bottom: 10px;
    font-size: 12px;
  }

  .left-right {
    & > .left {
      display: -webkit-box;
      -webkit-box-pack: bottom;
      float: left;
    }
    & > .right {
      text-align: right;
    }
  }

  .header {
    width: 100%;
  }

  .total-payment {
    display: inline-block;
    box-sizing: border-box;
    width: 95px;
    height: 47px;
    text-align: center;
    padding-top: 10px;
    font-size: 22px;
    background-image: url(/images/outline.png);
    background-size: 100% 100%;
    margin-right: -30px;
  }

  .address {
    margin-top: 10px;
    font-size: 12px;

    .label {
      float: left;
      display: inline;
    }

    .address-body {
      padding-left: 70px;
    }
  }
}

.teeth {
  display: block;
  background: url(/images/receipt-tooth.png) transparent repeat-x;

  &.top {
    -webkit-transform:rotate(180deg);
  }
}

.receipt-container {
  margin-bottom: 20px;
  -webkit-filter: drop-shadow(0px 0px 13px rgba(0,0,0,0.2));
}

.spinner {
  background-image: url(../images/spin.gif);
  height: 128px;
  width: 50%;
  margin: auto;
}
