!!!
%head
  / build:css(.tmp) styles/main.css
  %link{ rel: "stylesheet", href: "styles/main.css"}
  / endbuild
  / build:js scripts/vendor/modernizr.js
  %script{ src:"bower_components/modernizr/modernizr.js"}
  / endbuild

  / Parse.com SDK
  %script{ src: "http://www.parsecdn.com/js/parse-1.2.12.min.js"}
  %script{ type: "text/javascript"}
    Parse.initialize(
      "ld4waOJIGKGOymyyLArtwVSHKnxT87h9hzsIlYhP", 
      "FlteyJvkJpZJrsOoTnB8acXgTn6mqrXDwvBaMbeB");
  %script{ src: "https://js.stripe.com/v2/"}
  %script
    Stripe.setPublishableKey('pk_test_Hju3FUzpU1AzXZ7gsNSdJ8mv');
  %script{ src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyAj69uslbQWV3Kw0eJhWISPtFjuqXEVbu0&sensor=true"}
%body
  .container
    #container

  / build:js scripts/vendor.js
  %script{ src: "phonegap.js" }
  %script{ src: "bower_components/jquery/jquery.js"}
  %script{ src: "bower_components/underscore/underscore.js"}
  %script{ src: "bower_components/backbone/backbone.js"}
  %script{ src: "bower_components/accounting/accounting.js"}
  %script{ src: 'scripts/vendor/fastclick.js'}
  / endbuild

  / build:js scripts/plugins.js
  %script{ src: "bower_components/jquery.payment/lib/jquery.payment.js"}
  / endbuild

  / build:js({.tmp,app}) scripts/main.js
  %script{ src: "scripts/main.js"}
  %script{ src: "scripts/views/Base.js"}
  %script{ src: "scripts/templates.js"}
  %script{ src: "scripts/models/order.js"}
  %script{ src: "scripts/routes/app.js"}
  %script{ src: "scripts/views/PizzaPicker.js"}
  %script{ src: "scripts/views/ViewPusher.js"}
  %script{ src: "scripts/views/Waiting.js"}
  %script{ src: "scripts/views/PickOrAddAddress.js"}
  %script{ src: "scripts/models/address.js"}
  %script{ src: "scripts/collections/address.js"}
  %script{ src: "scripts/models/user.js"}
  %script{ src: "scripts/models/credit_card.js"}
  %script{ src: "scripts/views/AddCreditCard.js"}
  %script{ src: "scripts/views/ConfirmOrder.js"}
  %script{ src: "scripts/views/OrderPlaced.js"}
  %script{ src: "scripts/collections/order.js"}
  %script{ src: "scripts/models/restaurant.js"}
  %script{ src: "scripts/views/ChangeRestaurant.js"}
  %script{ src: "scripts/views/NotAvailable.js"}
  %script{ src: "scripts/models/config.js"}
  / endbuild
